.realtor {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 4rem;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    display: grid;
    grid-row-gap: 2rem;
    align-content: center;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        grid-row: 3 / span 1;
    }
}

.realtors {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-row-gap: 5vh;
    grid-column-gap: 2rem;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: min-content max-content;
    }

    &__img {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
    }

    &__seller {
        color: $color-grey-light-2;
        text-transform: uppercase;
    }
}
